.root {
    padding: 48px 0;
    background-color: var(--bs-gray-dark);
    border-top: 3px solid var(--bs-primary);
}

.list {
    padding: 0;
    margin-top: 16px;
    list-style: none;

    li {
        margin-top: 8px;
    }

    a {
        color: var(--bs-light);

        &:hover {
            text-decoration: underline;
        }
    }
}
