.header {
    display: flex;
    height: 100px;
    background-color: var(--black);
}

.logo {
    font-family: Roboto, sans-serif;

    img {
        width: 70%;
    }

    &:hover {
        text-decoration: none;
    }

}
