.hero {
    padding: 80px 0;
}

.mottoContainer {
    max-width: 600px;
}

.motto {
    font-size: 45px;
    font-weight: 700;
}

.mottoSubtitle {
    font-size: 35px;
    font-weight: 300;
}

.loginButton {
    padding: 16px 80px;
}

.heroImage {
    max-width: 600px;
}

.cards {
    padding: 80px 0;
}
