@font-face {
    font-family: Roboto;
    src:
        url(../fonts/Roboto/Roboto-Regular.woff2) format("woff2"),
        url(../fonts/Roboto/Roboto-Regular.ttf) format("ttf"),
        url(../fonts/Roboto/Roboto-Regular.otf) format("otf")
    ;
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src:
        url(../fonts/Roboto/Roboto-Bold.woff2) format("woff2"),
        url(../fonts/Roboto/Roboto-Bold.ttf) format("ttf"),
        url(../fonts/Roboto/Roboto-Bold.otf) format("otf")
    ;
    font-weight: 700;
}
